body {
  margin: 0;
  padding: 0;
}

main {
  margin: 50px 0 unset 0;
  border-left: 1px solid #b6b6b6;
  border-right: 1px solid #b6b6b6;
}

header {
  top: 0px;
  position: fixed;
  width: 100%;
  background: #002c5b;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  z-index: 10;
}
header .header_content {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
header .logo {
  grid-column: 1;
  margin-left: 50px;
}
header nav {
  grid-column: 2;
  color: #ffffff;
  margin-top: 0px;
  text-align: right;
}
header nav ul {
  list-style: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
header nav ul img {
  width: 50px;
}
header nav ul li {
  display: inline;
  padding-right: 20px;
}
header nav ul.menu li {
  display: inline;
  font-size: 26px;
  padding-left: 20px;
  font-family: Arial;
  border-right: 2px solid white;
  color: #ffffff;
}
header nav ul.menu li a {
  color: #ffffff;
  text-decoration: none;
}
header nav ul.menu li.last {
  border-right: none;
}

main {
  margin-top: 144px;
}

.header_slideshow img {
  width: 100%;
  margin-bottom: 0px;
}

.main_content {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.main_content h1 {
  padding-top: 25px;
  font-size: 3em;
}
.main_content h2 {
  margin-top: 2em;
  font-size: 2.4em;
}
.main_content p {
  font-size: 1.3em;
}

.visits table {
  border-collapse: collapse;
  width: 100%;
}
.visits th, .visits td {
  text-align: left;
  padding: 8px;
  border: 1px solid #b6b6b6;
}
.visits tr:nth-child(even) {
  background-color: #f2f2f2;
}

#map {
  width: 100%;
  height: 600px;
  z-index: 0;
}

.ponds ul {
  list-style: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.ponds ul li {
  background: #000000;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.ponds ul li:hover {
  background: #3f3f3f;
}
.ponds ul li a {
  text-decoration: none;
}
.ponds ul li p {
  font-family: Arial;
  font-size: 40px;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 3px;
  text-align: center;
  color: #f2f2f2;
}
.ponds img {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.galleries {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}
.galleries .gallery {
  z-index: 0;
  width: 360px;
  height: 360px;
  background: #c9ddf5;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-radius: 20px 20px 0px 0px;
}
.galleries .gallery:hover {
  background: #86b5e7;
}
.galleries .gallery .image {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.galleries .description {
  background: #f8f8f8;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-radius: 0px 0px 20px 20px;
  width: 360px;
  height: 110px;
  margin-bottom: 25px;
}
.galleries p {
  padding: 15px 0;
  margin: 0;
  color: #000000;
}
.galleries .name {
  font-size: 1.4em;
  font-family: Arial;
  text-align: center;
}
.galleries .desc {
  padding-top: 0px;
  font-size: 1.3em;
  font-family: Arial;
  text-align: center;
}

.photos .simple-gallery {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}
.photos .photo {
  z-index: 0;
  width: 335px;
  height: 335px;
  border: 1px solid #dddddd;
  border-radius: 7px;
  background: #f2f2f2;
  margin-top: 10px;
}
.photos .photo .transf {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

footer {
  margin-top: 100px;
}
footer div {
  border-top: 20px solid #c9ddf5;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  padding-top: 25px;
  padding-bottom: 30px;
}
footer section.left, footer section.right {
  text-align: center;
}
footer section p {
  padding: 0;
  margin: 5px 0 5px 0;
}
footer section p ul {
  margin-top: 0px;
  padding-top: 0px;
}
footer section p ul li {
  margin-top: 0px;
  padding-top: 0px;
}

/*# sourceMappingURL=style.css.map */
