<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% translate 'Ochrana rybníků' %}{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extrahead %}{% endblock %}
    <meta name="keywords" content="{% translate 'rybník, setrvalé hospodaření, biodiverzita, ochrana druhů ryb, ochrana rybníků, chráněná území, ochrana přírody, chov ryb' %}">
    <meta name="description" content="{% translate 'Přírodě blízké rybářské hospodaření jako nástroj pro ochranu cenných rybničních ekosystémů.' %}">
    <meta name="author" content="ENKI o.p.s.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <main>
      <header>
        <div class="header_content">
            <div class="logo">
                <img src="{% static 'img/logo_norway_grants.png' %}" />
            </div>
            <nav>
                <ul class="language">
                    <li><a href="{% url 'set_language' 'cs' %}"><img src="{% static 'img/czflag.png' %}" /></a>
                    <li class="last"><a href="{% url 'set_language' 'en' %}"><img src="{% static 'img/enflag.png' %}" /></a>
                </ul>
                <ul class="menu">
                    <li><a href="{% url 'home' %}">{% translate 'Úvod' %}</a></li>
                    <li><a href="{% url 'photogalleries' %}">{% translate 'Fotogalerie' %}</a></li>
                    <li class="last">{% translate 'Partneři' %}</li>
                </ul>
            </nav>
        </div>
    </header>
    {% block main %}
    {% endblock %}
    </main>
    {% block script %}{% endblock %}
    </body>

</html>
