{% extends 'webapp/base.html' %}
{% load i18n %}{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% load imagekit %}

{% block title %} Home{% endblock %}

{% block main %}

<div class="header_slideshow">
    <img src="{% static 'img/header_slideshow1.jpg' %}" />
</div>

<div class="main_content">
    <article class="home">
        <section class="about">
            <h1>
                {% if LANGUAGE_CODE == 'cs' %}{{ about.name_cs }}{% endif %}
                {% if LANGUAGE_CODE == 'en' %}{{ about.name_en }}{% endif %}
            </h1>
            {% if LANGUAGE_CODE == 'cs' %}{{ about.content_cs|safe }}{% endif %}
            {% if LANGUAGE_CODE == 'en' %}{{ about.content_en|safe }}{% endif %}
        </section>

        <section class="ponds_home">
            <h2>{% translate 'Lokality (klikněte pro detail)' %}</h2>
            <ul>
                {% for pond in ponds %}
                {% generateimage 'home_page' source=pond.title_picture as home_page_resize %}
                <li>
                    <a href="{% url 'pond_card' pond.slug %}"><img src="{% get_media_prefix %}{{ home_page_resize }}" />
                    <p>{{ pond.pond_name }}</p>
                </a>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section class="photogallery">
            <h2>{% translate 'Nejnovější fotogalerie' %}</h2>
            {% include "webapp/photogalleries_base.html" %}
        </section>

        {% comment %}
        <section class="partners">
            <h1>{% translate 'Partneři' %}</h1>
        </section>
        {% endcomment %}
    </article>
</div>

{% endblock %}
