{% load i18n %}{% load static %}
{% load imagekit %}
{% get_current_language as LANGUAGE_CODE %}

<div class="galleries">
    {% for gallery in galleries %}
{% if LANGUAGE_CODE == 'cs' %}
            <a href="{% url 'fotogalerie' LANGUAGE_CODE gallery.pk gallery.slug %}">
        {% endif %}
        {% if LANGUAGE_CODE == 'en' %}
            <a href="{% url 'photogallery' LANGUAGE_CODE gallery.pk gallery.slug %}">
        {% endif %}
        <div class="gallery">
            <div class="image">
                <img src="{{ gallery.photogallery.get_title.admin_thumbnail.url }}" />
            </div>
        </div>
        <div class="description">

                <p class="name">{{ gallery.name }}</p>



        </div>
        </a>
    {% endfor %}
</div>
{% if is_home %}<a href="{% url 'photogalleries' LANGUAGE_CODE %}">{% translate "Všechny fotogalerie" %}</a>{% endif %}
