{% extends 'webapp/base.html' %}
{% load i18n %}{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} Home{% endblock %}

{% block extrahead %}
    {% comment %}
        https://github.com/andreknieriem/simplelightbox
        https://simplelightbox.com/
    {% endcomment %}
        <link rel="stylesheet" href="https://extrastatic.ochranarybniku.cz/simplelightbox/dist/simple-lightbox.min.css">
        <script src="https://extrastatic.ochranarybniku.cz/simplelightbox/dist/simple-lightbox.min.js"></script>
{% endblock %}

{% block main %}

<div class="main_content">
  <section class="photogallery">{% include "webapp/photogallery_base.html" %}</section>
</div>

{% endblock %}


{% block script %}
  <script>
    var lightbox = new SimpleLightbox('.simple-gallery a', { /* options */ });
  </script>
{% endblock %}
