{% extends 'webapp/base.html' %}
{% load i18n %}{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} Home{% endblock %}

{% block extrahead %}
    {% comment %}
        https://github.com/andreknieriem/simplelightbox
        https://simplelightbox.com/
    {% endcomment %}
        <link rel="stylesheet" href="https://extrastatic.ochranarybniku.cz/simplelightbox/dist/simple-lightbox.min.css">
        <script src="https://extrastatic.ochranarybniku.cz/simplelightbox/dist/simple-lightbox.min.js"></script>
{% endblock %}

{% block main %}

<div class="main_content">

    <article class="photogallery">
        {% if LANGUAGE_CODE == 'cs' %}
            <h1>Fotogalerie: {{ photogallery.name_cs }}</h1>
            <p>{{ photogallery.description_cs }}</p>
        {% endif %}
        {% if LANGUAGE_CODE == 'en' %}
            <h1>Photogallery{{ photogallery.name_en }}</h1>
            <p>{{ photogallery.description_en }}</p>
        {% endif %}

        <div class="simple-gallery">
            {% for photo in photogallery.pictures.all %}
            <div><a href="{% get_media_prefix %}{{ photo.photo }}"><img src="{% get_media_prefix %}{{ photo.admin_thumbnail }}" alt="" title=""/></a></div>
            {% endfor %}
        </div>


    </article>
</div>

{% endblock %}


{% block script %}
  <script>
    var lightbox = new SimpleLightbox('.simple-gallery a', { /* options */ });
  </script>
{% endblock %}
