{% load static %}
{% load imagekit %}


{% if photogallery_detail %}

        <h1>Fotogalerie: {{ photogallery.name_cs }}</h1>
        <p>{{ photogallery.description_cs }}</p>


{% endif %}

<div class="simple-gallery">
    {% for photo in pictures %}
    {% generateimage 'image_thumbnail' source=photo.photo as photo_thubnail %}
    {% generateimage 'image_gallery_resize' source=photo.photo as photo_resized %}

    <div class="photo"><div class="transf"><a href="{% get_media_prefix %}{{ photo_resized }}"><img src="{% get_media_prefix %}{{ photo_thubnail }}" alt="{{ photo.description_cs }}" title="{{ photo.description_cs }}"/></a></div></div>
    {% endfor %}
</div>



