{% load i18n %}{% load static %}
{% load imagekit %}

<div class="galleries">
    {% for gallery in galleries %}
        <a href="{% if LANGUAGE_CODE == 'en' %}{% url 'photogallery' gallery.pk gallery.slug_en %}{% endif %}{% if LANGUAGE_CODE == 'cs' %}{% url 'photogallery' gallery.pk gallery.slug_cs %}{% endif %}">
        <div class="gallery">
            <div class="image">
                <img src="{% get_media_prefix %}{{ gallery.get_title.admin_thumbnail }}" />
            </div>
        </div>
        <div class="description">
            {% if LANGUAGE_CODE == 'cs' %}
                <p class="name">{{ gallery.name_cs }}</p>
            {% endif %}
            {% if LANGUAGE_CODE == 'en' %}
                <p class="name">{{ gallery.name_en }}</p>
            {% endif %}
        
        </div>
        </a>
    {% endfor %}
</div>
{% if is_home %}<a href="{% url 'photogalleries' %}">{% translate 'Všechny fotogalerie' %}</a>{% endif %}

