.graph_form {
    margin-bottom: 0px;
    
    td {
        padding-right: 15px;
        font-size: 1.2em;
    }
}

.graph_form_desc {
    font-style: italic;
    font-size: 0.7rem;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 50px;
}
