main {
    margin-top: 144px;
}

.header_slideshow img {
  width: 100%;
  margin-bottom: 0px;
}

.main_content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    h1 {
        padding-top: 25px;
        font-size: 3em;
    }

    p {
        font-size: 1.3em
    }
}

