{% extends 'webapp/base.html' %}
{% load static %}


{% block title %} - {{ pond.pond_name }}{% endblock %}
{% block og_title %}Ochrana rybníků - {{ pond.pond_name }}{% endblock %}
{% block og_image %}{% get_media_prefix %}{{ pond.title_picture }}{% endblock %}


{% block extrahead %}
<script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
<script type="text/javascript">Loader.load();</script>
<link rel="stylesheet" href="https://extrastatic.ochranarybniku.cz/simplelightbox/dist/simple-lightbox.min.css">
<script src="https://extrastatic.ochranarybniku.cz/simplelightbox/dist/simple-lightbox.min.js"></script>
<script src="https://extrastatic.ochranarybniku.cz/jquery/jquery.js"></script>
{% if parameters %}<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>{% endif %}
{% endblock %}


{% block main %}
<div class="header_slideshow">
  <img src="{% get_media_prefix %}{{ pond.title_picture }}" />
</div>

<div class="main_content">
    <article class="pond">
        <section class="main_text">
          <h1>Rybník: {{ pond.pond_name }}</h1>
          {{ pond.main_text_cs|safe }}
        </section>

          <section class="map">
            <h2>Mapa</h2>
            <div id="map"></div>
          </section>

          <section class="photos">
            <h2>Hlavní fotogalerie</h2>
            {% include "webapp/photogallery_base.html" %}
          </section>


{% if parameters %}
  <section class="graphs">         
    {% include 'ponds/graphs.html' %}
  </section>
{% endif %}


          <section class="visits">
            <h2>Návštevy v rámci projektu (včetně plánovaných)</h2>
            <table>
              <tr>
                <th>Začátek</th>
                <th>Konec</th>
                <th>Popis aktivit</th>
                <th>Účastní se</th>
              </tr>
            {% for visit in visits %}
                <tr>
                  <td>{{ visit.dt_start }}</td>
                  <td>{{ visit.dt_end }}</td>
                  <td>{{ visit.desc }}</td>
                  <td>{{ visit.visitors }}</td>
                </tr>
            {% endfor %}
            </table>
          </section>
        
        <section class="photogallery">
            <h2>Související fotogalerie</h2>
            {% include "webapp/photogalleries_base.html" %}
        </section>

    </article>
</div>


{% endblock %}

{% block script %}
<script type="text/javascript">
  $( document ).ready(function() {
    {% include "ponds/js/base_map.js" %}
    {% if parameters %}{% include "ponds/js/graphs.js" %}{% endif %}
    var lightbox = new SimpleLightbox('.simple-gallery a', { overlayOpacity: 0.95 });
});

</script>
{% endblock %}
