{% extends 'webapp/base.html' %}
{% load static %}
{% load imagekit %}

{% block main %}
<div class="main_content">
    <article class="ponds">
      <h1>Seznam rybníků</h1>
        <ul>
            {% for pond in ponds %}
            <li>
                <a href="{% url 'pond_card' pond.slug %}"><img src="{{ pond.title_picture_list.url }}" />
                <p>{{ pond.pond_name }}</p>
              </a>
            </li>
            {% endfor %}
        </ul>
    </article>
</div>
{% endblock %}
