{% extends 'webapp/base.html' %}
{% load i18n %}{% load static %}
{% load imagekit %}

{% block main %}
<div class="main_content">
    <article class="ponds">
      <h1>{% translate 'Seznam rybníků' %}</h1>
        <ul>
            {% for pond in ponds %}
            {% generateimage 'list_page' source=pond.title_picture as list_page_resize %}
            <li>
                <a href="{% url 'pond_card' pond.slug %}"><img src="{% get_media_prefix %}{{ list_page_resize }}" />
                <p>{{ pond.pond_name }}</p>
              </a>
            </li>
            {% endfor %}
        </ul>
    </article>
</div>
{% endblock %}
