{% load static %}{% load mapy_cz_urls %}<!DOCTYPE html>
<html lang="cs">
  
  <head>
    <meta charset="utf-8">
    <title>Ochrana rybníků - Kalendář</title>
    <link rel="stylesheet" href="{% static 'cal_tables.css' %}">
  </head>
  
  <body>
    
    <header>
      <h1>Kalendář návštěv rybníků</h1>
    </header>
    
    <main>
      {% for v in visits %}
        
        {% if forloop.first %}
          {% if v %}<h2>Budoucí návštěvy</h2>{% endif %}
        {% else %}
          {% if v %}<h2>Proběhlé návštěvy</h2>{% endif %}
        {% endif %}
      
      <table>
        {% if v %}
        <thead>
          <tr>
            <th>Jméno rybníku</th>
            <th>Začátek návštevy</th>
            <th>Konec návštěvy</th>
            <th>Popis aktivit</th>
            <th>Pracovník</th>
          </tr>
        </thead>
        {% endif %}
        {% for visit in v %}
          <tbody>
            <tr>
              <td>{% mapy_cz_turist visit.pond.area.centroid.x visit.pond.area.centroid.y visit.pond 17 %}</td>
              <td>{{ visit.dt_start }}, {{ visit.dt_start|date:'l' }}</td>
              <td>{{ visit.dt_end }}, {{ visit.dt_end|date:'l' }}</td>
              <td>{{ visit.desc }}
              <td>{{ visit.user.get_full_name }}
            </tr>
          </tbody>
        {% endfor %}
      </table>
      
      {% endfor %}
    </main>
    
    <footer>
      <p>Zde bude logo?</p>
    </footer>
  
  </body>
</html>
