<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <title>Ochrana rybníků - Kalendář</title>
  </head>
  <body>
    <header><h1>Kalendář návštěv rybníků</h1></header>
    <main>
      <h2>Budoucí návštěvy</h2>
      <table>
        {% for visit in future_visits %}
          <tr>
            <td>{{ visit.pond }}</td>
            <td>{{ visit.dt_start }}, {{ visit.dt_start|date:'l' }}</td>
            <td>{{ visit.dt_end }}, {{ visit.dt_end|date:'l' }}</td>
            <td>{{ visit.desc }}
            <td>{{ visit.user.get_full_name }}
            
          </tr>
        {% endfor %}
      </table>


      <h2>Proběhlé návštěvy</h2>
      <table>
        {% for visit in past_visits %}
          <tr>
            <td><a href="https://mapy.cz/turisticka?x={{ visit.pond.area.centroid.x|stringformat:"f" }}&y={{ visit.pond.area.centroid.y|stringformat:"f" }}&z=19">{{ visit.pond }}</a></td>
            <td>{{ visit.dt_start }}, {{ visit.dt_start|date:'l' }}</td>
            <td>{{ visit.dt_end }}, {{ visit.dt_end|date:'l' }}</td>
            <td>{{ visit.desc }}
            <td>{{ visit.user.get_full_name }}
            
          </tr>
        {% endfor %}
      </table>
    </main>
    <footer><p>Zde bude logo?</p></footer>
  </body>
</html>
